<div class="container">

    <div class="return-button">
        <button routerLink="/">Home</button>
    </div>

    <h2>Create Shipment</h2>
    <!-- creates shipmentForm variable that has specific properties and validations -->
    <form [formGroup]="shipmentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="referenceNumber">Reference Number:</label>
            <input type="text" id="referenceNumber" formControlName="referenceNumber" [notEmpty]="true" />
            <!-- Related to Validators.required in ts, can't be empty -->
            <div *ngIf="shipmentForm.get('referenceNumber')?.invalid && shipmentForm.get('referenceNumber')?.touched">
                Reference number is required.
            </div>
        </div>
        <div class="form-group">
            <label for="shipmentDate">Shipment Date:</label>
            <input type="date" id="shipmentDate" formControlName="shipmentDate" />
            <!-- Related to Validators.required in ts, can 't be empty -->
            <div *ngIf="shipmentForm.get('shipmentDate ')?.invalid && shipmentForm.get('shipmentDate ')?.touched">
                Shipment date is required.
            </div>
        </div>
        <!-- Depends on Validators.required if true button is disabled -->
        <button type="submit" [disabled]="!shipmentForm.valid">Submit</button>
    </form>
    <!-- After onSubmit, if request is succesful or failed. -->
    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</div>